@import url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap);
@import "../abstracts/colors";

$DMSANS: "DM Sans", sans-serif;

body,
html {
  font-family: $DMSANS;
  color: $Dark;
  min-height: 100vh;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
}

figure,
menu,
ul,
p,
li {
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  color: "inherit";
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
