@import "../abstracts/colors";

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 72px;
  background-color: white;
}

@media (min-width: 768px) {
  footer {
    display: none;
  }
}

.footer-icon {
  color: #8f8f8f;
}

.footer-icon-container {
  position: relative;

  .icon-bullet {
    width: 7px;
    height: 7px;
    background-color: $primary;
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
    right: 2px;
    top: 2px;
  }
}
