$Dark: #0f0d23;
$DarkLight: #323232;
$Sunshade: #ffa024;
$Koromiko: #ffbc6b;
$Navajo_White: #ffd8a8;
$Serenade: #fff5e5;
$Whiskey: #d9a473;

$primary: #FF9F24;
$layoutBackground: #FAFAFA;
$textPrimary: #323232;
$textSecondary: #969696;
$placeholder: #c4c4c4;